.contact {
  width: 700px;
  min-height: 500px;
  display: flex;
  gap: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact > * {
  flex: 1;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-group {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.form-group > * {
  margin-top: 5px;
}
.form-group > input,
.form-group > textarea {
  padding: 10px;
  border: 2px , solid ,white;
  border-radius: 10px;
  font-size: inherit;

}

.filled-filed{
      background-color: white;
  color: black;
}
.empty-filed{
  padding: 10px;
  border: 2px , solid ,white;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: inherit; 
}

#icon-text {
  width: 35px;
  margin-left: 10px;
}
.icon-text {
  width: 20px;
  margin-right: 10px;
  object-fit: contain;
}
.contact-items > *,
.contact-items > ul > * {
  margin-bottom: 20px;
}

.contact-items li {
  display: flex;
}
.form-group button > img {
  width: 20px;
}
.form-group button {
  margin-top: 10px;
}

.form-group span {
  display: block;
  margin: 20px 0;
}