.con-chatBot-answer {
  width: 100%;
  background-color: blueviolet;
  border-radius: 10px;
  margin-top: 10px;
  font-size: inherit;
  /* height: 900px; */
}

.con-chatBot-answer > p {
  line-height: 1.5; 
  margin: 15px;
}
.con-question {
  display: flex;
  width: 100%;
  font-size: inherit;
}
.con-chatBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}
.question-box {
  margin-right: 5px;
  resize: none;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: inherit;
}
.question-box:focus {
  outline: none;
}

.sendMassege {
  border-radius: 10px;
  background-color: rgb(169, 139, 233);
  padding: 10px 25px;
  font-size: inherit;
  border: solid white;
}
.sendMassege:active {
  background-color: rgb(107, 44, 194);
}

.btn-send{
  background-color: rgb(169, 139, 233);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: inherit;
  border: 3px solid white;
}
