.con-chatBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}
.con-chatBot-answer {
  width: 100%;
  background-color: blueviolet;
  border-radius: 10px;
  margin-top: 10px;
  font-size: inherit;
}

.con-chatBot-answer > p {
  line-height: 1.5; 
  margin: 15px;
}
.con-question {
  display: flex;
  width: 100%;
  font-size: inherit;
}

.question-box {
  margin-right: 5px;
  resize: none;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: inherit;
}
.question-box:focus {
  outline: none;
}


.btn-send{
  background-color: rgb(79, 0, 249);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: inherit;
  border: none;
  color: white;
}
