.con-nav {
  width: 800px;
  /* position: absolute; */
  /* top: 0px; */
  margin: 0 auto;
}
.logo {
  width: 100px;
}

.con-nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
li {
  list-style: none;
}
.btn {
  background-color: rgb(169, 139, 233);
  border-radius: 20px;
  padding: 5px 15px;
  font-size: inherit;
  border: 5px solid transparent;
}

.btn-transparent {
  background-color: transparent;
  color: white;
  font-size: initial;
  border: none;
  font-size: inherit;
}