.footer-icon {
  width: 30px;
}
.con-footer {
  color: rgb(156, 156, 156);
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.con-icon {
  display: flex;
  align-items: center;
  gap: 30px;
}
